@media only screen and (max-width: 400px) {
    .container {
        width: 100% !important;        
        margin: 5px !important;
    }        
    h1{
        width: 100% !important;
    }
    iframe{
        width: 100% !important;
    }
    .container-fluid{
        width: 100% !important;
        display: inline-block !important; 
        /* float: inline-end !important;       */
    }
    .link{
        
        text-align: center !important;       
        font-weight: bold !important
        
    }
    
}
.container{
    width: 100%;
    margin: 2px auto !important;
    padding: 2px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;    
}
h1{    
    color: #030063 !important;    
    margin-top: 10px !important;
    margin-bottom: 1btn0px !important;    
    text-align: center;    
    /* border: 1px solid black; */
    height: 60px;
    font-size: 25px !important;
    font-weight: bold !important;
    line-height: 60px !important;
}
img{
    height: 50px;
    float: left;
    /* margin-left: 200px; */
    line-height: 50px;
    border: 1px solid black;
    object-fit: contain;
}
#btn{
text-align: center !important;
font-weight: bold;
border-radius: 5px;
box-shadow: black 2px 2px;
color: white;
width: 100px !important;
height: 35px !important;
background-color: darkcyan !important;
display: block;
margin: 0 auto;
margin-bottom: 8px;
}

/* iframe{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    margin: 0xp;
    padding: 0px;
} */
h6{
    text-align: center;
    font-weight: bold !important;   
}
.form-control{
    box-shadow: grey 1px 1px !important;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 13px !important;   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
    .active {
    background-color: #4CAF50;
  }
  .container-fluid{
    /* position: -webkit-sticky; */
    position: sticky !important;
    top: 0;
  }
  .link{  
      float: none !important;  
    text-align: center !important;       
    font-weight: bold !important
    
}
.social-icons{
    text-align: center;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    
  }
  /* .social-icons .social-icon:last-child {
    margin-right: 0;
  } */
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }
  