@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
/* @media only screen and (max-width: 600px) {
    .container {
        width: 100% !important;        
        margin: 5px !important;
    }        
    h1{
        width: 100% !important;
    }
    iframe{
        width: 100% !important;
    }
    .container-fluid{
        width: 100% !important;
        display: inline-block !important; 
        /* float: inline-end !important;       */
    /* }
    .link{        
        text-align: center !important;       
        font-weight: bold !important
        
    }
    
} */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{        
  font-family: 'Oxygen', sans-serif;
    height: 100%;  
    border: 1px solid grey;  
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    margin-top: 0.5rem;
    box-shadow: 2px 2px 3px grey;

}
.container .row h1{    
    color: darkcyan;        
    text-align: center;  
    font-size: 35px;
    font-weight: bold;
    text-shadow: grey 1px 2px;    
   
}
.container-fluid{
    position: sticky !important;
  top: 0;
  bottom: 0;  
  vertical-align: middle;
  height: 2.5rem; 
}
.nar-bar{    
  margin: 0;
  padding: 0; 
line-height: 2rem;
}
/* #header{
  background-color: ;
} */

#btn{
width: 200px;
height: 50px;
text-align: center;
font-weight: bold;
border-radius: 25px;
/* box-shadow: black 2px 2px; */
box-shadow: grey 2px 2px  2px!important;   
color: white;
display: block;
margin: 0 auto;
margin-bottom: 8px;
background-color: tomato;
}
#btn:hover{
  background-color: #d62dba;
}
textarea:focus{
  background-color: #42c5f5;
  color: white;
}

h6{
    text-align: center;
    font-weight: bold !important;   
}
.form-control{
    box-shadow: grey 1px 1px !important;    
}
textarea {
  resize: none;
}
input:focus{
  background-color: #42c5f5;
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
    font-size: 13px; 
    align-items: center;    
    vertical-align: middle;
    line-height: 2.5rem; 
  }
  
  li {
    float: left;    
    line-height: 2.5rem; 
    vertical-align: middle;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    line-height: 2.5rem; 
    
  }
  
  li a:hover:not(.active) {
    background-color: tomato;
    text-decoration: none;
    color: white;
  }
    .active {
    background-color: #4CAF50;
    text-decoration: none;
    color: white;
  }
  
  #link{  
    display: block;  
    text-align: center; 
    font-size: 2rem;      
    font-weight: bold;
    margin: 0 auto;  
    margin-top: 1.5rem;  
    margin-bottom: 1.5rem;
    color: tomato !important;
}
.link:hover{ 
   color: #d62dba;
}
.social-icons{
    text-align: center;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    background-color: tomato;
    color: #fff;
    border-radius: 100%;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #d62dba;
  }
  
  #bottom{
    background-color: darkcyan;
    color: white;
  }
  #footer{
    text-align: center;
    vertical-align: middle;
}
